<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Lojas Varejistas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Lojas Varejistas</h1>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Entidade</th>
                <th scope="col">Admin</th>
              </tr>
            </thead>
            <tbody>          
                <tr>
                  <td>Loja</td>
                  <td>
                    <a href="/admin_loja/">Admin Loja</a>
                  </td>
                </tr>
                <tr>
                  <td>Produto</td>
                  <td>
                    <a href="/admin_produto/">Admin Produto</a>
                  </td>                  
                </tr>
                <tr>
                  <td>VendeProduto</td>
                  <td>
                    <a href="/admin_vendeproduto/">Admin VendeProduto</a>
                  </td>                  
                </tr>
            </tbody>
        </table>
        
    </div>

  </body>

</html>