<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Formulário</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	 crossorigin="anonymous">
</head>

  <body>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
      <h1>VendeProduto</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
      <a href="/admin_vendeproduto/" class="btn btn-success">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
      <strong>Preco: </strong>{{db.preco}} <br>
      <strong>Loja: </strong>{{db.loja}} <br>
      <strong>Produto: </strong>{{db.produto}} <br>      
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
      <a href="/" class="btn btn-info">Home</a>
    </div>

  </body>

</html>